<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    div.mytable {
        margin: auto;
        width: 1020px;
        padding: 10px;
    }
</style>

<body>
<h1>DETAILS OF THE USERS</h1>

<div class="mytable">
<table class="table table-striped table-primary">

    <thead class="ttop">
    <tr class="table-info">
        <td width="20px"><b> ID</b></td>
        <td><b>NAME</b> </td>
        <td><b>AGE</b> </td>
        <td><b>CONTACT NUMBER</b> </td>
        <td><b>EMAIL</b> </td>
        <td><b>ADDRESS</b> </td>

        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d, iStat : ${details}" th:style="${iStat.odd}? 'font-weight: normal;'">

        <td width="20px" th:text="${d.id}">
        </td><td th:text="${d.name}"></td>
        <td th:text="${d.age}"></td>
        <td th:text="${d.mobile}"></td>
        <td th:text="${d.email}"></td>
        <td th:text="${d.address}"></td>


        <td> <a th:href="@{/editDetail(detailId=${d.id})}"><button type="submit">UPDATE</button> </a></td>
        <td> <form th:action="@{/deleteDetail(detailId=${d.id})}" th:method="delete"><input type="submit" value="DELETE"/></form> </td>

    </tr>
    </tbody>
</table>
</div>
</body>

</html>